<h2>Officially Blogging</h2>
<h5><span class="glyphicon glyphicon-time"></span> Post by Tejas Sabunkar, Dec 25, 2017.</h5>
<h5><span class="label label-success">Sabunkar</span></h5><br>
<div class="well well-lg">
<p>
  <b>Summary</b><br>
  I have been working as a full-stack developer in various technologies and frameworks.
  I love coding, problem-solving, learning latest technologies, etc<br>
 <b>Education :</b> <br>
  Sri Venkateshwara College Of Engineering Karnataka
  Bachelor of Engineering (B.E.), Electrical, Electronics and Communications Engineering, 2012 - 2016<br>
  Kendriya Vidyalaya
  Sec Education, Junior High/Intermediate/Middle School Education and Teaching, 2004 - 2012<br>
  <b>Software Developer at Nous Infosystems</b> <br>
  December 2016 - Present
</p>
</div>
